<div id="restaurantimage"></div>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

<div class="container" style="margin-top:80px", id='itinerary'>
  <div class="row" >
    <div class="col-lg" >

<h1><%= "#{params[:search]} Itinerary" %></h1>

<h3>Parks</h3>

<div id="parks"><% @parks.each do |park| %>
  <p>Name: <%= park[:name] %></p>
  <p>City: <%= park[:city] %></p>
  <p>State: <%= park[:state] %></p>
  <p>Country: <%= park[:country] %></p>
  <p>Description: <%= park[:description] %></p>
  <p>Directions: <%= park[:directions] %></p>
  <p>Lat: <%= park[:lat] %></p>
  <p>Lon: <%= park[:lon] %></p>
  <p>Activities: <%= park[:activities] %></p></br>
<% end %></div>

<h3>Restaurants</h3>
<div id="restaurants"><% @restaurants.each do |restaurant| %>
  <p>Name: <%= restaurant[:name] %></p>
  <p>Rating: <%= restaurant[:rating] %></p>
  <p>Price: <%= restaurant[:price] %></p>
  <p>Image URL: <%= restaurant[:image_url] %></p>
  <p>URL: <%= restaurant[:url] %></p>
  <p>Categories: <%= restaurant[:categories] %></p>
  <p>Address: <%= restaurant[:address] %></p>
  <p>Phone: <%= restaurant[:phone] %></p></br>
<% end %></div>

<%= form_with url: itineraries_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :search, value: @search %>
  <p><%= f.submit 'Save' %></p>
<% end %>

    </div>
  </div>
</div>