<h1><%= "#{params[:search].capitalize} Itinerary" %></h1>

<h3>Parks</h3>

<div id="parks"><% @parks.each do |park| %>
  <p>Name: <%= park[:name] %></p>
  <p>City: <%= park[:city] %></p>
  <p>State: <%= park[:state] %></p>
  <p>Country: <%= park[:country] %></p>
  <p>Description: <%= park[:description] %></p>
  <p>Directions: <%= park[:directions] %></p>
  <p>Lat: <%= park[:lat] %></p>
  <p>Lon: <%= park[:lon] %></p>
  <p>Activities: <% park[:activities].each do |activity| %>
    <%= activity %>
  <% end %></p></br>
<% end %></div>

<h3>Restaurants</h3>

<div id="restaurants"><% @restaurants.each do |restaurant| %>
  <p>Name: <%= restaurant[:name] %></p>
  <p>Rating: <%= restaurant[:rating] %></p>
  <p>Price: <%= restaurant[:price] %></p>
  <p>Image URL: <%= restaurant[:image_url] %></p>
  <p>Categories: <% restaurant[:categories].each do |category| %>
    <%= category %>
  <% end %></p>
  <p>Address: <%= restaurant[:address] %></p>
  <p>Phone: <%= restaurant[:phone] %></p></br>
<% end %></div>

<%= form_with url: itineraries_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :search, value: @search %>
  <%= f.hidden_field :parks, value: @parks %>
  <%= f.hidden_field :restaurants, value: @restaurants %>
  <p><%= f.submit 'Save' %></p>
<% end %>