<h1><%= "#{@itinerary.search.capitalize} Itinerary" %></h1>

<h3>Parks</h3>

<div id="parks"><% @itinerary.parks.each do |park| %>
  <p>Name: <%= park[:name] %></p>
  <p>City: <%= park[:city] %></p>
  <p>State: <%= park[:state] %></p>
  <p>Country: <%= park[:country] %></p>
  <p>Description: <%= park[:description] %></p>
  <p>Directions: <%= park[:directions] %></p>
  <p>Lat: <%= park[:lat] %></p>
  <p>Lon: <%= park[:lon] %></p>
  <p>Activities: <%= park[:activities] %></p></br>
<% end %></div>

<h3>Restaurants</h3>

<div id="restaurants"><% @itinerary.restaurants.each do |restaurant| %>
  <p>Name: <%= restaurant[:name] %></p>
  <p>Rating: <%= restaurant[:rating] %></p>
  <p>Price: <%= restaurant[:price] %></p>
  <p>Image URL: <%= restaurant[:image_url] %></p>
  <p>URL: <%= restaurant[:url] %></p>
  <p>Categories: <%= restaurant[:categories] %></p>
  <p>Address: <%= restaurant[:address] %></p>
  <p>Phone: <%= restaurant[:phone] %></p></br>
<% end %></div>

<%= button_to 'Delete', itinerary_path(@itinerary), method: :delete %>
