<!DOCTYPE html>
<html>
  <head>
    <title>Skedaddle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

     <div id="account">
    <% if current_user %>
    <footer class="bg-fade text-center text-lg-start">
      <div class="text p-4" style="background-color: rgba(255, 0.5, 0, 0.2)">
        <span style="float:left;"><b>Welcome, <%= current_user.name %></b></span>
        <span style="float:right;"><%=link_to 'Log Out', sessions_path, method: :delete%></span>
      </div>
    </footer>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
